<ion-modal-view id="viewCheckTagModal">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeCheckTag()">
                <i class="ion-android-close"></i>
            </button>
        </div>
        <i class="title ion-android-wifi"></i>
        <span class="side-meter-result">
            <i class="ion-android-wifi"></i>
            {{data.tagData}}
        </span>
    </ion-header-bar>
    <ion-content class="content-margin">
        <ion-list>
            <ion-item class="row-custom-padding">
                <div class="row row-top">
                    <div class="col">
                        <div class="center">
                            <i class="ion-android-time"></i>
                        </div>
                    </div>
                    <div class="col col-80 col-offset-10">
                        <span>
                            {{data.dateScan | date: 'EEE, MMM dd, yyyy'}}
                        </span>
                        <br>
                        <span>
                            {{data.dateScan | date: 'hh:mm a'}}
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item class="row-custom-padding">
                <div class="row row-top">
                    <div class="col">
                        <div class="center">
                            <i class="ion-android-person"></i>
                        </div>
                    </div>
                    <div class="col col-80 col-offset-10">
                        <span>
                            {{data.user}}
                        </span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>